/* -------------------------- GENERAL STYLE ------------------------- */

*{
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Play', sans-serif;
}

html{
  scroll-behavior: smooth;
}
p{
  color: white;
}
a{
  padding: 5px 12px;
  text-decoration: none;
  color: #d864ffaa;
} 

.titleSection{
  color: rgb(0, 225, 255);
  font-size: 45px;
  text-align: center;
}

.textSection{
  color: white;
  text-align: justify;
  padding: 30px;
  font-size: 20px;
}
.subTitleSection{
  font-size: 35px;
  text-align: center;
  color: #d864ffaa ;
}
/* -----------------NAVBAR STYLE -------------------------- */
#containerNavbar{
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-brand {
  color: white; 
}

.navbar-brand:hover {
  color: lightgray; 
}

#buttonColour{
  background-color: rgb(0, 225, 255);
}
#buttonColour:hover{
  background-color: rgb(186, 247, 255);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar .nav-link {
  color: rgb(0, 225, 255);
  font-weight: bold;
  font-size: 20px;
}

.navbar .nav-link:hover {
  color: #d864ffaa;
}

/* --------------------------- SECTION1 ABOUT ME ----------------*/
.container{
  border-radius: 35px;
  display: flex;
  padding:80px;
  padding-top:150px;
}

#containerHomeImg{
  animation: shake 2s ease-in-out infinite;
  border-radius: 35px;
}

#photo{
  height: 25em;
  width: 25em;
  margin-left: 60px;
}

#containerTextAbout{
  grid-row: auto;
  text-align: center;
}

#githubIcon:hover{
  color:#d864ffaa ;
  transition: 0.3s;
}
#githubIcon{
  color: white;
  text-decoration: none;
}

#linkNdec{
  text-decoration: none;
}

#icon{
  width: 15%;
  height: 15%;
  margin-left: 20px;
}

#titleH1{
  color: rgb(0, 225, 255);
}

#typed-text {
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid #000;
  animation: typing 3s steps(30) infinite;
}

#containeMiniApp{
  margin-right: 23px;
}

#appIcon{
  height: 50px;
  width: 55px;
  border-radius: 5px;
}

#appsContainer{
  justify-content: center;
  text-align: center;
  color: white;
}
/* ------------------------- SECTIONS ------------------------- */
.sections{
  padding: 80px;
}

/* ------------PORTFOLIO STYLE-------------- */
.display-4{
  border-radius: 35px;
}

#boxPortfolio{
  margin-top: 80px;
}

#portfolio{
  padding: 30px;
}
#portfolio .card {
  transition: transform 0.3s ease-out;
}

#portfolio .card:hover {
  transform: scale(1.1);
}

#h1Portfolio{
  margin-bottom: 50px;
  padding: 10px;
  font-size: 40px;
}

#containerTextCard{
border: solid rgb(0, 225, 255) 1px;
}

#containerCardPortfolio{
  border: solid rgb(0, 225, 255) 1px;
  border-radius: 0px;
}

#titleCard{
  color: rgb(0, 225, 255);
}

#linkPortfolio{
font-size: 25px;
color: rgb(0, 225, 255);
text-decoration: none;
}

#linkPortfolio:hover{
  color:#d864ffaa ;
  transition: 0.3s;
}

#textCard{
  font-size: 20px;
  text-align: justify;
}
/* ------------------------CONTACT ME STYLE ------------------------*/
#photo2{
  height: 20em;
  width: 20em;
  margin-left: 50px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#containerFrontAbout{
  padding-top: 80px;
}
#icon2{
  width: 10%;
  height: 10%;
  margin-left: 20px;
}
#contactTitle{
  color: rgb(0, 225, 255);
}

/* ------------RESUME STYLE------------ */
#resumeSection{
  color: rgb(0, 225, 255);
}
#resumeLink{
  font-size: 20px;
  color: rgb(0, 225, 255);
  display: block;
  text-align: center;
}
#resumeLink:hover{
  color: #d864ffaa;
}

#h1AboutMe{
  text-align: left;
  color: #d864ffaa;
}
/* ------------FOOTER-------------- */
#footer {
  text-align: center;
  padding: 20px;
  color: rgb(0, 225, 255);
}
#textContact{
  color: #d864ffaa;
}
  
/* ----------------------- KEYFRAMES ACTIONS ------------------*/
@keyframes typing {
  from {
    width: 0;
    height: 20%;
    color: #d864ffaa;
  }
  to {
    width: 100%;
    height: 20%;
    color: #d864ffaa;
  }
}

@keyframes shake {
  0%, 100% {
  transform: translateX(0);
  }
  25% {
  transform: translateX(-10px);
  }
  75% {
  transform: translateX(10px);
  }
}
